In [33]:
import pandas as pd

In [29]:
df = pd.read_excel("ocorrencia.xlsx", parse_dates=["ocorrencia_dia"])
df.head(5) #indica que quero somente as 5 primeiras linhas se alterar o número altera o número de ocorrências

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,BRASIL,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,BRASIL,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,BRASIL,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,BRASIL,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,BRASIL,2012-01-06,16:30:00,0

In [4]:
df.loc[1,'ocorrencia_cidade'] #indica uma linha e coluna especifica a virgula é que separa o primeiro termo linha, do segundo coluna

'GUARULHOS'

In [5]:
df.loc[1:3] #Apresentar os números sepadados por dois pontos me apresenta o range

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,45331,45331,ACIDENTE,GUARULHOS,SP,BRASIL,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,BRASIL,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,BRASIL,2012-01-06,17:00:00,0

In [13]:
df.loc[:,'ocorrencia_cidade'] #Para ter as ocorrências de toda uma coluna, coloco o valor da linha como dois pontos que indica que quero do primeiro ao ultimo e após a virgula a coluna sedejada.

0        PORTO ALEGRE
1           GUARULHOS
2              VIAMÃO
3       SÃO SEBASTIÃO
4            SÃO SEPÉ
            ...
5162            JATAÍ
5163          MARACAÍ
5164    NOVO HAMBURGO
5165         CURITIBA
5166        PETROLINA
Name: ocorrencia_cidade, Length: 5167, dtype: object

In [12]:
df.loc[[1,40]] #utiliza-se os números da linhas dentro de novas chaves para indicar que quero somente estas linhas

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,45331,45331,ACIDENTE,GUARULHOS,SP,BRASIL,2012-01-06,13:44:00,3
40,45415,45415,ACIDENTE,RIO DE JANEIRO,RJ,BRASIL,2012-01-30,13:55:00,0

In [15]:
df.codigo_ocorrencia.is_unique #Verifica se aquela coluna possui valores únicos, vefifica se não há duplicatas na coluna

True

In [16]:
df.set_index('codigo_ocorrencia', inplace=True) #Altera o índice do dataframe, trocando o número da linha padrão (0,1,2...) para ser os valores da coluna indicada.

In [17]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
52242,52242,INCIDENTE,PORTO ALEGRE,RS,BRASIL,2012-01-05,20:27:00,0
45331,45331,ACIDENTE,GUARULHOS,SP,BRASIL,2012-01-06,13:44:00,3
45333,45333,ACIDENTE,VIAMÃO,RS,BRASIL,2012-01-06,13:00:00,0
45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,BRASIL,2012-01-06,17:00:00,0
45407,45407,ACIDENTE,SÃO SEPÉ,RS,BRASIL,2012-01-06,16:30:00,0

In [19]:
df.reset_index(drop=True, inplace=True) #Faz reset no índice, retornando ao original

In [20]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,INCIDENTE,PORTO ALEGRE,RS,BRASIL,2012-01-05,20:27:00,0
1,45331,ACIDENTE,GUARULHOS,SP,BRASIL,2012-01-06,13:44:00,3
2,45333,ACIDENTE,VIAMÃO,RS,BRASIL,2012-01-06,13:00:00,0
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,BRASIL,2012-01-06,17:00:00,0
4,45407,ACIDENTE,SÃO SEPÉ,RS,BRASIL,2012-01-06,16:30:00,0

In [21]:
df.loc[0, 'ocorrencia_pais'] = 'ARGENTINA' #Altera o dado no meu dataframe

In [22]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,INCIDENTE,PORTO ALEGRE,RS,ARGENTINA,2012-01-05,20:27:00,0
1,45331,ACIDENTE,GUARULHOS,SP,BRASIL,2012-01-06,13:44:00,3
2,45333,ACIDENTE,VIAMÃO,RS,BRASIL,2012-01-06,13:00:00,0
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,BRASIL,2012-01-06,17:00:00,0
4,45407,ACIDENTE,SÃO SEPÉ,RS,BRASIL,2012-01-06,16:30:00,0

In [25]:
df['ocorrencia_uf_bkp'] = df.ocorrencia_uf #Cria uma nova coluna com base na coluna indicada

In [26]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,52242,INCIDENTE,PORTO ALEGRE,RS,ARGENTINA,2012-01-05,20:27:00,0,RS
1,45331,ACIDENTE,GUARULHOS,SP,BRASIL,2012-01-06,13:44:00,3,SP
2,45333,ACIDENTE,VIAMÃO,RS,BRASIL,2012-01-06,13:00:00,0,RS
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,BRASIL,2012-01-06,17:00:00,0,SP
4,45407,ACIDENTE,SÃO SEPÉ,RS,BRASIL,2012-01-06,16:30:00,0,RS

In [27]:
df.loc[df.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']] = 'GRAVE' #Pesquisa na coluna indicada o parametro informando no caso, na colula ocorrencia UF procurei SP, e a proxima fase indica qual coluna quero alterar que encontrar os resultados e o valor que quero colocar.

In [28]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,52242,INCIDENTE,PORTO ALEGRE,RS,ARGENTINA,2012-01-05,20:27:00,0,RS
1,45331,GRAVE,GUARULHOS,SP,BRASIL,2012-01-06,13:44:00,3,SP
2,45333,ACIDENTE,VIAMÃO,RS,BRASIL,2012-01-06,13:00:00,0,RS
3,45401,GRAVE,SÃO SEBASTIÃO,SP,BRASIL,2012-01-06,17:00:00,0,SP
4,45407,ACIDENTE,SÃO SEPÉ,RS,BRASIL,2012-01-06,16:30:00,0,RS

In [30]:
df #Todas alterações indicadas acima, são realizadas somente no dataframe e não no arquivo de origem.

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,BRASIL,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,BRASIL,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,BRASIL,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,BRASIL,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,BRASIL,2012-01-06,16:30:00,0
...,...,...,...,...,...,...,...,...,...
5162,80458,80458,ACIDENTE,JATAÍ,GO,BRASIL,2021-12-30,20:30:00,0
5163,80452,80452,ACIDENTE,MARACAÍ,SP,BRASIL,2021-12-31,09:30:00,0
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,BRASIL,2021-12-31,11:59:00,0
5165,80460,80460,INCIDENTE,CURITIBA,PR,BRASIL,2021-12-31,15:12:00,0
5166,80467,80467,INCIDENTE,PETROLINA,PE,BRASIL,2021-12-31,20:30:00,0

ocorrencia_uf
***

ocorrencia_hora
NULL

In [35]:
df.loc[df.ocorrencia_uf == '***', ['ocorrencia_uf']] = pd.NA #Realiza a alteração conforme parametros informados de coluna e valor procurado, para retornar <NA>

In [36]:
df.replace(['***', 'NULL'], pd.NA, inplace=True) #Realiza alteração em todos os campos que encontrarem determinado valor, independentemente de onte estejam no datafram o comundo inplace=True indifica que a alteração é realmente no dataframe se não colocar, fica somente para visualuzação

In [37]:
df.isna().sum() #É uma maneira de tratar os dados não informando, esta linha, fas uma contagem dos dados NA nas colunas

codigo_ocorrencia           0
codigo_ocorrencia2          0
ocorrencia_classificacao    0
ocorrencia_cidade           0
ocorrencia_uf               2
ocorrencia_pais             0
ocorrencia_dia              0
ocorrencia_hora             1
total_recomendacoes         0
dtype: int64

In [39]:
df. isnull().sum() #É uma maneira de tratar os dados não informando, esta linha, fas uma contagem dos dados NA nas colunas

codigo_ocorrencia           0
codigo_ocorrencia2          0
ocorrencia_classificacao    0
ocorrencia_cidade           0
ocorrencia_uf               2
ocorrencia_pais             0
ocorrencia_dia              0
ocorrencia_hora             1
total_recomendacoes         0
dtype: int64

In [40]:
df.fillna(0) #Altera os dados não informando para o parametro indicado, no caso "0", repare que está só visualização, mas se quiser trocar no dataframe, preciso inserir a função inplace

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,BRASIL,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,BRASIL,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,BRASIL,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,BRASIL,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,BRASIL,2012-01-06,16:30:00,0
...,...,...,...,...,...,...,...,...,...
5162,80458,80458,ACIDENTE,JATAÍ,GO,BRASIL,2021-12-30,20:30:00,0
5163,80452,80452,ACIDENTE,MARACAÍ,SP,BRASIL,2021-12-31,09:30:00,0
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,BRASIL,2021-12-31,11:59:00,0
5165,80460,80460,INCIDENTE,CURITIBA,PR,BRASIL,2021-12-31,15:12:00,0
5166,80467,80467,INCIDENTE,PETROLINA,PE,BRASIL,2021-12-31,20:30:00,0

In [41]:
df.fillna(value={'ocorrencia_uf':'BR'}) #Altera somente os valores NA da coluna informada para o indicado, no caso alterou os valores da coluna ocorrencias UF que eram NA para BR

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,BRASIL,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,BRASIL,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,BRASIL,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,BRASIL,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,BRASIL,2012-01-06,16:30:00,0
...,...,...,...,...,...,...,...,...,...
5162,80458,80458,ACIDENTE,JATAÍ,GO,BRASIL,2021-12-30,20:30:00,0
5163,80452,80452,ACIDENTE,MARACAÍ,SP,BRASIL,2021-12-31,09:30:00,0
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,BRASIL,2021-12-31,11:59:00,0
5165,80460,80460,INCIDENTE,CURITIBA,PR,BRASIL,2021-12-31,15:12:00,0
5166,80467,80467,INCIDENTE,PETROLINA,PE,BRASIL,2021-12-31,20:30:00,0

In [42]:
df['ocorrencia_uf_bkp'] = df.ocorrencia_uf

In [43]:
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,BRASIL,2012-01-05,20:27:00,0,RS
1,45331,45331,ACIDENTE,GUARULHOS,SP,BRASIL,2012-01-06,13:44:00,3,SP
2,45333,45333,ACIDENTE,VIAMÃO,RS,BRASIL,2012-01-06,13:00:00,0,RS
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,BRASIL,2012-01-06,17:00:00,0,SP
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,BRASIL,2012-01-06,16:30:00,0,RS
...,...,...,...,...,...,...,...,...,...,...
5162,80458,80458,ACIDENTE,JATAÍ,GO,BRASIL,2021-12-30,20:30:00,0,GO
5163,80452,80452,ACIDENTE,MARACAÍ,SP,BRASIL,2021-12-31,09:30:00,0,SP
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,BRASIL,2021-12-31,11:59:00,0,RS
5165,80460,80460,INCIDENTE,CURITIBA,PR,BRASIL,2021-12-31,15:12:00,0,PR
5166,80467,80467,INCIDENTE,PETROLINA,PE,BRASIL,2021-12-31,20:30:00,0,PE

In [44]:
df.drop(['ocorrencia_uf_bkp'], axis=1, inplace=True) #df.drop por excluir uma coluna ou linha, no caso excluimos uma coluna, para isso precisamos inclui axis=1 que indica o indice que por padrão é 0 que representa linha e o 1 é o da coluna

In [45]:
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,BRASIL,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,BRASIL,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,BRASIL,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,BRASIL,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,BRASIL,2012-01-06,16:30:00,0
...,...,...,...,...,...,...,...,...,...
5162,80458,80458,ACIDENTE,JATAÍ,GO,BRASIL,2021-12-30,20:30:00,0
5163,80452,80452,ACIDENTE,MARACAÍ,SP,BRASIL,2021-12-31,09:30:00,0
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,BRASIL,2021-12-31,11:59:00,0
5165,80460,80460,INCIDENTE,CURITIBA,PR,BRASIL,2021-12-31,15:12:00,0
5166,80467,80467,INCIDENTE,PETROLINA,PE,BRASIL,2021-12-31,20:30:00,0

df.dropna() #Exclui todas as linhas que contém NA
df.dropna(subset=['ocorrencia_uf']) #Exclui as linhas que contém NA na coluna indicada
df.drop_duplicates() #Exlui as linhas com valores duplicados
Dados suplicados no contexto de ciêndia de dados o dados não informados são tratados também como missing values, tratamos eles aque como NA, porém tem bibliotecas que tratam como NAN ou NAT.